.cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  background-color: #000;
  border: 3px solid orange;
}

.calculator {
  color: #fff;
  background-color: #000;
  border: 3px solid orange;
}

.calBtn {
  background-color: green;
 
}

.inputCost {
  padding: 8px;
  border-radius: 10px;
}


#totalQuantity {
  line-height: 1.5rem;
  background-color: dodgerblue(222, 102, 170);
}